.listing-photo {
  height: 400px;
  width: 100%;
  object-fit: cover;
  border-radius: 20px;
  margin-bottom: 20px;
}

.listing-heading {
  font-size: 28pt;
  font-weight: bold;
  margin-bottom: 10px;
}

.listing-location::before {
  content: url('/assets/location-pin.svg') / '';
}

.listing-location {
  font-size: 16pt;
  margin-bottom: 10px;
}

.listing-features > .section-heading {
  color: var(--secondary-color);
  font-size: 18pt;
  margin-bottom: 10px;
}

.listing-features {
  margin-bottom: 15px;
}

.listing-features li {
  font-size: 12pt;
}

.listing-apply .section-heading {
  font-size: 14pt;
  margin-bottom: 10px;
}

input {
  font-size: 14pt;
  margin-bottom: 10px;
  padding: 8px;
  width: 100%;
  border: none;
  border-bottom: solid 1px var(--shadow-color);
}

@media (max-width: 1024px) {
  .listing-photo {
    width: 100%;
    height: 300px;
  }
}